@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PoppinsBold";
  src: url("../fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PoppinsExtraBold";
  src: url("../fonts/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PassionThin";
  src: url("../fonts/Poppins-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
